@use "../../global" as *;

.page-header {
  position: relative;

  display: grid;
  padding: 0 20.1px;

  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__logo {
  position: absolute;
  justify-self: center;
  z-index: 1;
}

.page-header__toggle {
  position: absolute;
  content: "";
  top: 17px;
  right: 20.1px;

  width: 22.9px;
  height: 22px;

  border: none;
  background-image: url("../../../img/icons/icon-menu.svg");
  background-color: transparent;

  &--opened {
    right: 19.8px;

    width: 22.2px;
    height: 22.2px;

    background-image: url("../../../img/icons/icon-cross.svg");
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
