@use "../../global" as *;

.page-header {
  position: relative;

  display: grid;
  padding: 0 20.1px;

  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__logo {
  position: absolute;
  justify-self: center;
}

.page-header__toggle {
  justify-self: end;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
