.advantages-list {
  @include list-reset;

  &--recommendation {
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 15px 18px 30px 18px;

    @media (min-width: $tablet-width) {
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
    }
  }

  &--city {
    display: grid;
    width: 100%;
    justify-content: center;

    background-color: $color-secondary;

    @media (min-width: $tablet-width) {
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.advantages-list__item {
  &--recommendation {
    max-width: 284px;
    padding-left: 47px;

    @media (min-width: $tablet-width) {
      min-width: 256px;
      min-height: 331px;
      padding: 40px 33px;

      text-align: center;
    }

    @media (min-width: $desktop-width) {
      min-width: 400px;
      padding: 69px 50px 40px 50px;
    }
  }

  &--city {
    max-width: 310px;
    padding: 11px 26px;

    @media (min-width: $tablet-width) {
      min-width: 256px;
      padding: 32px 40px;
    }

    @media (min-width: $desktop-width) {
      min-width: 400px;
      padding: 45px 50px 30px 50px;
    }
  }

  &--city:not(:last-child) {
    border-bottom: 1px solid $color-separator-dark;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--about:not(:last-child) {
    border-bottom: 1px solid $color-separator-dark;
  }

  &--in-detail {
    min-height: 211px;
  }
}
