.advantage--in-detail {
  line-height: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantage__text {
  &--highlighted {
    min-width: 256px;

    text-align: center;
    color: $color-white;

    background-color: $color-accent;

    @media (min-width: $tablet-width) {
      width: 256px;
    }

    @media (min-width: 1050px) {
      width: 400px;
    }
  }

  &--town {
    min-height: 226px;
    padding: 52px 20px 21px 17px;

    @media (min-width: $tablet-width) {
      padding: 32px 18px 0 18px;
    }
  }

  &--diablo {
    order: 1;
    padding: 32px 30px 18px 22px;
  }

  &--city {
    text-align: center;
  }
}

.advantage__headline {
  position: relative;

  margin-bottom: 9px;

  font-size: $size-medium;
  line-height: $line-height-medium;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: $size-large;
  }

  &--highlighted {
    line-height: 26px;
    color: $color-white;

    background-color: $color-accent;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
    }
  }

  &::before {
    position: absolute;

    content: "";
  }

  &--recommendation {
    @media (min-width: $tablet-width) {
      padding-top: 100px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
      padding-top: 80px;
    }
  }

  &--house {
    margin-bottom: 22px;
  }

  &--house::before {
    top: -9px;
    left: -47px;

    width: 40px;
    height: 38px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 55px;
      width: 77px;
      height: 72px;

      background-size: 77px auto;
    }

    @media (min-width: $desktop-width) {
      top: -22px;
      left: 110px;
    }

    background-image: url("../img/icon-house.svg");
  }

  &--burger {
    margin-bottom: 18px;
  }

  &--burger::before {
    top: -5px;
    left: -47px;

    width: 40px;
    height: 36px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 55px;
      width: 80px;
      height: 72px;

      background-size: 80px auto;
    }

    @media (min-width: $desktop-width) {
      top: -20px;
      left: 107px;
    }

    background-image: url("../img/icon-burger.svg");
  }

  &--gift {
    margin-bottom: 18px;
  }

  &--gift::before {
    top: -8px;
    left: -43px;

    width: 32px;
    height: 38px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 65px;
      width: 66px;
      height: 78px;

      background-size: 66px auto;
    }

    @media (min-width: $desktop-width) {
      top: -25px;
      left: 112px;
    }

    background-image: url("../img/icon-gift.svg");
  }
}

.advantage__subheadline {
  line-height: $line-height-small;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 23px;
  }
}

.advantage__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: 70% 0;

  @media (min-width: $tablet-width) {

    height: 256px;
  }
}

.advantage__paragraph {
  margin-top: 16px;
  margin-left: 8px;
  margin-bottom: 12px;

  line-height: 21px;
}
