.comment {
  align-self: end;

  font-size: $size-tiny;
  line-height: $line-height-small;

  opacity: 60%;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-left: auto;
    margin-top: 7px;

    font-size: $size-small;
  }
}
