.copyright {
  position: relative;

  display: flex;
  align-items: center;

  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-grey-active;
  }
}

.copyright__icon {
  margin-left: 8.5px;
}
