.copyright {
  position: relative;

  display: flex;
  align-items: center;

  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-accent;
  }

  &:active {
    color: $color-grey-active;
  }
}

.copyright__icon {
  margin-left: 9px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }
}
