.hashtag {
  font-size: $size-large;
  font-weight: 700;
  line-height: $line-height-medium;
  color: $color-black;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    margin-top: auto;
  }

  &--index {
    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }
  }
}
