.hashtag {
  margin-bottom: 33.5px;

  font-size: $size-large;
  font-weight: 700;
  line-height: $line-height-medium;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-right: 111px;
    margin-left: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 112px;
    margin-right: 270px;
  }
}
