.likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1 / -1;

  font-weight: 700;
  color: $color-black;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.likes__button {
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-top: 0;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    fill: $color-white;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .likes__icon {
    fill: $color-accent;
  }


  &:active .likes__icon {
    fill: $color-eccent-active;
  }
}
