.page-header {
  position: relative;

  display: grid;
  padding: 0 20.1px;

  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__logo {
  position: absolute;
  justify-self: center;

  &--nojs {
    position: static;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
  }
}

.page-header__toggle {
  position: absolute;
  content: "";
  top: 17px;
  right: 20.1px;

  width: 22.9px;
  height: 22px;

  border: none;
  background-color: transparent;

  &:hover svg path {
    opacity: 60%;
  }

  &:active svg path {
    opacity: 30%;
  }

  &--opened {
    right: 19.8px;

    width: 22.2px;
    height: 22.2px;

    z-index: 1;
  }

  &--nojs {
    display: none;
  }
}

.page-header__icon {
  &--cross {
    display: none;
  }

  &--burger {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__toggle--opened .page-header__icon--cross {
  display: block;
}

.page-header__toggle--opened .page-header__icon--burger {
  display: none;
}
