.photos-list {
  @include list-reset;
  display: grid;

  @media (min-width: $tablet-width) {
    max-width: 648px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos-list__item {
  position: relative;

  border-top: 1px solid $color-separator-light;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  &:last-child {
    border-bottom: 1px solid $color-separator-light;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--main {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.photos-list__container {
  padding: 24px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
  }
}
