@use "../global" as *;

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--index {
    padding: 35px 18px 49px 18px;
  }

  &--photo {
    padding: 17px 20px 0 20px;
  }
}

.promo__headline {
  font-size: $size-large;
  line-height: $line-height-medium;
  text-align: center;
  color: $color-black;

  &--inner-page {
    font-size: $size-medium;
  }
}

.promo__text {
  margin-bottom: 35px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }

  &--photo {
    max-width: 445px;
    margin-bottom: 38px;
  }
}

.promo__video {
  width: 100%;
  max-width: 800px;
  height: auto;
}
