@use "../../global" as *;

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  padding: 16px;

  font-size: $size-large;
  line-height: $line-height-medium;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $color-accent;
  border: none;

  &--promo {
    min-width: 284px;
    max-width: 458px;
  }

  &--submit {
    width: 280px;
  }
}
