@use "../../global" as *;

.main-navigation {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  width: 100%;

  font-size: $size-medium;

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }
  }
}
