// Palette
$color-black: #000000;
$color-text: #333333;
$color-accent: #81b3d2;
$color-secondary: #eeeeee;

// Typography
$ff-ptsans: "PT Sans", "Arial", sans-serif;

$size-small: 14px;
$size-medium: 18px;
$size-large: 21px;

$line-height-body: 21px;
