@use "../../global" as *;

.advantages-list {
  @include list-reset;

  &--recommendation {
    padding: 23px 18px 46px 18px;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--city {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $color-secondary;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.advantages-list__item {
  &--recommendation {
    padding-left: 47px;
  }

  &--recommendation:not(:last-child) {
    margin-bottom: 33px;
  }

  &--city {
    max-width: 284px;
    padding: 24px 26px;
  }

  &--city:not(:last-child) {
    border-bottom: 1px solid $color-separator-dark;
  }

  &--about:not(:last-child) {
    border-bottom: 1px solid $color-separator-dark;
  }

  &--in-detail {
    min-height: 211px;
  }
}
