@use "../../global" as *;

.page__body {
  margin: 0 auto;
  max-width: 1200px;

  font-family: $ff-ptsans;
  font-size: $size-small;
  line-height: $line-height-small;
  color: $color-text;
  text-transform: uppercase;

  background-color: $color-white;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 20%);
}
