@use "../../global" as *;

.radio-mark {
  position: relative;

  margin-right: 16px;

  &::before {
    position: absolute;
    top: -10px;
    left: -50px;

    width: 46px;
    height: 46px;

    content: "";
    border-radius: 50%;
    background-color: $color-page-background;
  }

  &::after {
    position: absolute;
    top: 5px;
    left: -35px;

    display: none;
    width: 16px;
    height: 16px;

    content: "";
    border-radius: 50%;
    background-color: $color-text;
  }
}

input[type="radio"]:checked + .radio-mark::after {
  display: block;
}
